@model IEnumerable<QLCafe.WEB.Models.ProductTypes.ProductTypesView>

@{
    ViewData["Title"] = "ProductTypes";
}

    <h1>ProductTypes</h1>

<p>
    <a class="btn btn-primary" asp-controller="ProductTypes" asp-action="Create">ProductTypes Create</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class="btn btn-primary"}) 
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class="btn btn-warning"})
            </td>
        </tr>
}
    </tbody>
</table>
