@model QLCafe.WEB.Models.Bills.Bills

@{
    ViewData["Title"] = "GetById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 style="color:red">Hóa Đơn @ViewBag.NameTable</h1>

<div>
    @*<h4>Bills</h4>*@
    <hr />
    <dl class="row" style="color:darkblue">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeCheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeCheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Gọi Món", "BillDetailAdd", "BillDetail", new { id = Model.ID }, new { @class = "btn btn-outline-primary" })
    @if (Model.HasBillDetails)
    {
        @Html.ActionLink("Chi Tiết Hóa Đơn", "BillDetailsViewAll", "BillDetail", new { id = Model.TableID }, new { @class = "btn btn-outline-primary" })
    }
</div>
<div>
    <a asp-controller="TableCoffees" asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
